/* Size for brand */
nav .navbar-brand
{
    font-size: x-large; 
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
nav .nav-item .gray
{
  color: #555;
}

nav .nav-item .red
{
  color: #ea433b;
}

.nobullet {
list-style-type: none;
}

.centered-list {
    text-align: center; /* Centers the list container */
}

.centered-list ul {
    display: inline-block; /* Keeps the list items left-aligned */
    text-align: left; /* Aligns the list items to the left */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

.btn-primary {
      background-color: #2d90d4;
}

.custom-blue-button {
    background-color: #2d90d4; /* A light medium blue */
    color: #FFFFFF; /* White text for contrast */
}

/* Optional: Style for hover and focus states */
.custom-blue-button:hover,
.custom-blue-button:focus {
    color: #FFFFFF;
    background-color: #226fa2; /* Slightly darker blue on hover/focus */
}

img {
  width: 100%;
  height: auto;
}

input[type="text"],
input[type="number"],
input[type="list"] {
  width: 280px; /* Set a desired width */
  box-sizing: border-box; /* Include padding and border in the width */
}

select[type="list"] {
  width: 280px; /* Set a desired width */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-bottom: 15px;  /* Adds px space below */
}

select[type="list-long"] {
  width: 280px; /* Set a desired width */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-bottom: 15px;  /* Adds px space below */
}

.gray-text {
    color: #2e944b/* #A9A9A9; /* Or another shade of gray like #CCCCCC */
}

.btn-absolute-bottom {
  position: absolute;
  bottom: 20px; /* Adjust as needed for spacing from the bottom */
  right: 20px; /* Adjust as needed for spacing from the right */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff; 
}

th, td {
  padding-right: 40px;
  max-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
}

.text-begin {
  text-align: left;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  color: #555;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-size: 0.9em; /* Makes the text in the footer smaller */
  color: #555;
  }

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

#list-left {
  text-align: left;
  font-size: 0.875em;
}

a:link {
  text-decoration: none;
  color: #555;
}

a:visited {
  text-decoration: none;
  /* font-size: 0.8em; Makes the text in the footer smaller */
  color: #555;
}

a:hover {
  text-decoration: underline;
  color: #555;
}

a:active {
  text-decoration: underline;
  color: #555;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#scrollToTopBtn:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}
