{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container row g-0 mt-1 text-begin">
        <p>
            <h6>About this website: </h6>       
            This website allows the user to search a database containing information about all cities and counties in Missouri. The data is sourced from the Official Manual published by the Missouri Secretary of State. Currently, the database contains the name, population and classification of each city and county.
        </p>
        <p>
            <h6>Privacy Notice: </h6>This website does not collect any user data.
        </p>        <p>
            <h6>Legal Notice: </h6>This website is for educational and informational purposes only. Check official sources before relying on any data. Do not rely upon any information contained on this website for the drafting of legal documents.
        </p>
    </div>      

{% endblock %}